.login-wrapper {
    border: 1px solid #b0b0b0;
    padding: 2em;
    border-radius: 1em
}

.login-wrapper .login-wrapper-title {
    background-color: white!important;
    width: fit-content!important;
    margin: -1.9em auto 0.8em!important;
    padding: 0 0.4em;
}

@media screen and (max-width: 768px) {
    .login-wrapper .login-wrapper-title {
        margin-top: 0!important;
    }
}

.assignment-wrapper {
    margin-top: 4em;
    border: 1px dashed #b0b0b0;
    padding: 2em;
    border-radius: 1em;
}
.assignment-wrapper-title {
    margin-top: -1.9em!important;
    background-color: white!important;
    width: min-content!important;
    white-space: nowrap!important;
    padding: 0 0.5em;
}

.bg-complete {
    background-color: #3B9212;
}

.bg-needs-update {
    background-color: #BF181D;
}

.bg-submitted {
    background-color: #0070E0;
}

.bg-pending-submissions {
    background-color: #686361;
}

.bg-resubmitted {
    background-color: #FEC84D;
}

.bg-in-review {
    background-color: #B7D100;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-text{
    font-size: 18px;
}

.custom-navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.custom-navbar .navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.login-wrapper #invalid-inputs {
    background-color: #f6aeaf;
    color: #6D0E10;
    text-align: center;
    height: 2.5em;
    vertical-align: center;
    border-radius: 3px;
    border: 1px solid #6D0E10;
    margin-bottom: 1em;
    line-height: 2.5em;
}